.container-card-requisitos{
    width: 95%;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: var(--primary-color);
}
.card-requisitos{
    width:98%;
    height: 98%;
    margin: 0.1em;
    border-radius: 0.3em;
    color: var(--primary-color);
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
    text-align: left;
    padding: 10px;
}
.card-requisitos h3{
    width:200px;
    margin-left: 10px;
}
.organizacao-card-requisitos{
    display: flex;
    align-items: center;
    width:250px ;
    margin-left: 10px;
    margin-right: 10px;

}
.fa-user-check{
    font-size: 2em;
}
.fa-id-card{
    font-size: 2em;
}
.fa-credit-card{
    font-size: 2em;
}
.fa-circle-check{
    font-size: 2em;
}
.fa-plane-arrival{
    font-size: 2em;
}
/*TAMANHO MAX 600PX*/
@media (max-width:600px) {
    .texto-escondido{
        display: none;
    }
    .container-card-requisitos {
        display: grid;
        align-content: center;
    }
    .card-requisitos{
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    .card-requisitos p {
        width: 80%;
        margin-bottom: 1rem;
    }
    .card-requisitos h3{
        font-size: 18px;
    }
}
/*TAMANHO MAX 320PX*/
@media (max-width:320px) {
    .container-card-requisitos {
        display: grid;
        align-content: center;
    }
    .card-requisitos h3{
        font-size: 10px;
    }
}