.container-reserva {
  display: flex;
  justify-content: center;
}
.formulario-reserva {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-color);
  width: 80vw;
  height: 25em;
  margin: auto;
  padding: 1em;
}
.selecao-local,
.selecao-carro,
.date-time {
  width: 280px;
  height: 40px;
  font-family: var(--fonte-padrao);
  border-radius: 7px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

label {
  font-family: var(--fonte-padrao);
  font-weight: 600;
  font-size: 2vw;
}
/*TAMANHO MAX 718PX*/
@media (max-width:718px) {
  .selecao-local,
  .selecao-carro,
  .date-time {
    margin-left: 20vw;
  }
}

/*TAMANHO MAX 600PX*/
@media (max-width: 600px) {
  .selecao-local,
  .selecao-carro,
  .date-time {
    width: 168px;
    height: 29px;
    border-radius: 4px;
  }
  
}
/*TAMANHO MAX 437PX*/
@media (max-width:437px) {
  .selecao-local,
  .selecao-carro,
  .date-time {
    margin-left: 20vw;
  }
}

/*TAMANHO MAX 320PX*/
@media (max-width:320px) {
  label {
      font-size: 3vw;
  }
  .selecao-local,
  .selecao-carro,
  .date-time {
    margin-left: 14vw;
  }
   
}